*{
   margin: 0;
   box-sizing: border-box;
   padding: 0;

}
body{
   background: linear-gradient(90deg, #faf0cd, #fab397);

}
.sagolovok{
   text-decoration: none;
   font-size: 30px;
   
}
li{
   list-style:none;
}
a{
   text-decoration: none;
   margin-left: 5px;
   margin-right: 5px;
   color: #1b1b1b;
}
ul{
   display: flex;
   align-items: center;
   justify-content: center;
}
nav{
  display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}