@import url(//db.onlinewebfonts.com/c/d1aa1fba1997f0db04276508a7250f95?family=PF+Regal+Text+Pro+RegularB);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: #000000;
   text-decoration: none;
   list-style: none;
}

.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
margin-top: 40px;
margin-left: 60px;
margin-right: 60px;

}
.right-side{
    display: flex;
    
    align-items: center;
}
.glass{
    border-left: 1px solid #FFFFFF;
    border-spacing: 3px 11px;
    
    
}
.en{
    color: #FFFFFF;
}
.links{
    text-decoration: none;
    margin: 20px;
    display: inline-block;
    color: #FFFFFF;
    
}
.cource{
   display: flex;
   justify-content: center;
   width: 1320px;
   height: 56px;
   margin: 0 auto;
   border-radius: 10px;
   background: #FFFFFF ;
}
.big-cont{
    display: flex;
    
    width: 1320px;
    height: 1320px;
    margin: 0 auto;
    border-radius: 10px;
    background: #FFFFFF ;
    margin-top: 15px;
}
.containers{
    margin: 0 auto;
    background: none;
}

.first-con{
    display: flex;
width: 1200px;
height: 250px;
background: #FFFFFF;
border: 1px solid #9CA1A9;
border-radius: 10px;
margin-top: 60px;
}
.second-con{
  display: flex;
    width: 1200px;
    height: 436px;
    margin-top: 20px;
    background: #FFFFFF;
    border: 1px solid #9CA1A9;
    border-radius: 10px;
}
.third-con{
    display: flex;
    width: 1200px;
height: 436px;
background: #FFFFFF;
border: 1px solid #9CA1A9;
border-radius: 10px;
margin-top: 20px;
}
.first-con:hover{
    border: 5px solid #a37846;
}
.second-con:hover{
    border: 5px solid #a37846;
}
.third-con:hover{
    border: 5px solid #a37846;
}
.links:hover{
    color:#A37846;
}

footer {
    color: white;
}

footer a {
    color: white;
}

footer a:hover {
    text-decoration: underline;
}


footer .block-links {
    display: flex;
}

footer .block-links .other-links {
    margin: 0 auto;
    font-size: 15px;
    margin-top: 16px;
}

footer .block-links .other-links h1 {
    font-size: 15px;
    margin-bottom: 24px;
    margin-top: 34px;
}

footer .block-links .other-links p {
    margin-top: 5px;
}



footer .under-block-links .outline {
    display: flex;
    justify-content: center;
    outline: 1px solid white;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
}

footer .under-block-links .gratitude-giphy {
    font-size: 15px;
    margin-left: 235px;
    margin-top: 37px;
    margin-bottom: 39px;
}